@font-face {
    font-family:candal;
    src: url(fuentes/Candal.ttf);
}
@font-face {
    font-family:birthstone;
    src: url(fuentes/Birthstone-Regular.ttf);
}
@font-face {
    font-family: roboto;
    src: url(fuentes/Roboto-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.iconos img{
    width: 50%;
}
li,p,button{
   font-family: roboto;
}

/*img{
    width: 20%;
}*/
#menu{
    width: 100%;
    color: white;
    background-color: #5C5C5E;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#menu p{

    font-size: 30px;

}
#menu ul{
    width: 60%;
    padding: 1em;
    background-color: #505052;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
#banner{
    width: 100%;
    height: 100vh;
    line-height: 1.2;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url(img/gif.gif);
}
#banner h2{
    font-family:birthstone;
    letter-spacing: 2px;
    font-size: 32px;
    margin-bottom: 0.8em;
}
#banner h1{

    font-family:candal;
    font-size: 65px;
}

#banner button{

    font-size: 12px;
    border: none;
    margin: 2em;
    padding: 1em;
}
.sc1{
   
    width: 100%;
    padding: 4em 0 4em 0;
    gap: 4em;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.sc1 button{
    background-color: transparent;
    border:none;
    margin-left: auto;
}
.sc1 div{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    line-height: 1.8;

}
.sc1 figure{
   
    width: 40%;
}
.sc1 figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sc2{
    width: 100%;
    
    padding: 4em 4.5em  4em 4.5em;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.sc2 h3{
    width: 100%;
    text-align: left;
   
}
.sc2 h2{
    width: 100%;
   margin-bottom: 1.5em;
    text-align: right;

}
.sc2 div{
    width: 100%;
    display: flex;
    gap: 2em;
   
    justify-content: space-between;
    align-items: center;
}
.sc2 figure{
    
    line-height: 1.8;
    width: 25%;
}
.sc2 figure img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.sc2 button{

    background-color: black;
    color: white;
    margin-top: 2em;
    padding: 1em;
}

.sc3{
    width: 100%;
    display: grid;
    padding: 5em 4.5em 0 4.5em;
    gap:2.5em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
   
}
.caja1-sc3{
    grid-column: 1;
    grid-row: 1;
}

.caja2-sc3{
    width: 100%;
    background-color: #EEEEEE;
    height: 100%;
    grid-column: 2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2em;
}
.caja2-sc3 button{
    background:none;
    border: none;
    width: 10%;
    margin-left: auto;
    inline-size: auto;
}
.caja3-sc3{
    grid-column: 1;
    grid-row: 2/4;
}

.caja3-sc3 img{
    object-fit: cover;
}

.sc3 figure img{

    width: 100%;
    height: 100%;
}


#pie-pagina{
    width: 100%;
    height: 100%;
    padding: 4em 4.5em 4em 4.5em;
    background-color: #EEEEEE;
    column-count: 2;
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;*/
}

#pie-pagina figure img{
    width: 100%;
    height: 100%;
    padding: 1em;
}